<!--
* index.html.erb
* This is the "home" page for butter_pecan and usually shows our latest comic.
*
-->
<% provide(:title, @title) %>
<% provide(:background_image, @background_image) %>

<%= javascript_include_tag "/javascripts/Strip.js" %>
<%= javascript_include_tag "/javascripts/jquery.js" %>

<script type="text/javascript">

$(document).ready( function(){ handle_document_ready(); } );

var handle_document_ready = function() {
  console.debug( "..handle_document_ready.." );

  var image = new Image();
  $(image).load(function(){
    var strip = setup_strip( image ); 
    window.strip = strip;
  });
  image.src = "media/welcome.png"; 

  $('#id_show_latest').bind('click', function() {
    console.debug( "id_show_latest got clicked!" );
    //
    // ie 'http://localhost:3000/home/show_latest.json'
    //
    $.getJSON( '<%= show_latest_home_index_path %>', function( data ) {
      console.debug( "got json data:"+data );
      strip.load_from_json_string( data ).action();
    });
  }); 
}

var setup_strip = function( image ) { 
  var canvas = $('#stage')[0]; 
  var strip = new Strip( canvas ),
    sequence = strip.newSequence(),
    scene,
    shot;

  shot = strip.newShot();
  shot.setImage( image );
  scene = strip.newScene().setShot( shot ); 

  sequence.pushScene( scene );

  strip.sequence = sequence;
  strip.sequence.selected_scene_index = 0;  // skip title...
  strip.sequence.load_current_scene( canvas.getContext('2d') );


  return strip;
}

</script>

<div id="id_canvas_div" >
  <canvas id="stage" width="600" height="400">Oh snap! butter_pecan requires your browser to support javaScript and html5 canvas in order to properly function!</canvas>
</div> 


<ul class="comicNav" >
  <li>
    <button id="id_show_first"    type="button">First</button> 
  </li>
  <li>
    <button id="id_show_previous" type="button">Previous</button> 
  </li>
  <li> 
    <button id="id_show_random"   type="button">Random</button> 
  </li>
  <li> 
    <button id="id_show_next"     type="button">Next</button> 
  </li>
  <li> 
    <button id="id_show_latest"   type="button">Latest</button> 
  </li>
</ul>

<div>
  <!-- this assumes that there is always at least 1 entry in my blog! good enough for me... -->
  <table class="blog" >
    <tr>
      <td>blog_entries</td>
      <td>published</td> 
    </tr>

    <% @blog_snippets.each do |entry| %>
    <tr>
      <td>
        <%= link_to entry[ :title ].to_s, entry[ :url ] %>
      </td>
      <td>
        <%= link_to entry[ :published ].to_s, entry[ :url ] %>
      </td> 
    </tr>
    <% end %>
  </table>
</div> 


